.hero{
  position: relative;

  &__image{
    display: block;
  }

  &__text-content{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title{
    color: #FFF;

    @mixin atMedium{
      font-size: 2.8rem;
    }
  }

  &__subtitle{
    color: $khaki;
  }
}
